/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2019-8-4, 16:05:10
    Author     : sucb
*/
*{
	padding: 0;
	margin: 0;
}
.beijing{
	width: calc(100%);
	margin-top: calc(7%);
}
.jj1{
	width: calc(25%);
	height: 360px;
	text-align: center;
}
.jj1 h4{
	margin-left: calc(12%);
	text-align: center;
	width: 70%;
	height: 27px;
	border:3px dashed #B00000;
	background-color: #FFF8E4;
}

.jj1 p{
	width: 80%;
	margin-left: calc(10%);
	text-align: left;
	font-size: 13px;
	line-height:25px;
}
.jj1 img{
	width: 80%;
}
.jie{
	width: calc(100%);
	height: 100px;
	background-color: #E3E0E1;
	margin-top: calc(0%);
}
.jxian{
	display: inline-block;
	border-top:3px solid #726F70;
	vertical-align: -15px;
	width:calc(100%);
}
.jjWen1, .jjWen2 {
	margin-top: calc(5%);
	width: calc(100%);
	height: 500px;
}
.jjWen1 h2 ,.jjWen2 h1{
	text-align: center;
	border:3px dashed #B00000;
	background-color: #FFF8E4;
	border-radius: 10px;
}
.jjWen1 h2{
	margin-left: calc(10%);
	width: calc(15%);
	height: 35px;
}
.jjWen2 h1{
	margin-left: calc(67%);
	margin-top: calc(-20.8%);
	width: calc(13%);
	height: 45px;
}
.jjWen1 p, .jjWen2 p{
	width: calc(28%);
	font-size: 20px;
	padding: 10px 20px;
	margin-left: calc(3%);
}
.jjWen1 img,.jjWen2 img{
	vertical-align: 10px;
	width: calc(30%);
	height: 300px;
	margin-left: calc(2%);
}
.jjbox{
	width: calc(90%);
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	background-color: rgba(227,224,225,0.9);
	margin-left: calc(5%);
}
.jjbox p img{
	width: 120px;
	height: 120px;
	vertical-align: -55px;
}
.jjTu1 p{
	width: calc(25%);
	height: 200px;
	font-size: 20px;
	margin-left: calc(36%);
	margin-top: calc(-23%);
	line-height: 35px;
}
.jie{
	width: calc(100%);
	height: 70px;
	background-color: rgba(227,224,225,0.9);
	margin-top: calc(4%);
}